@for(course of addMindverseArray; track course.id){
<mat-list>
  <div style="display: flex; align-items: center">
    <mat-list-item>{{ course.title }}</mat-list-item>
    <!-- <button mat-button color="warn" (click)="decrementTotalGameCopies(game)">
      -
    </button>
    {{ course.totalAddedToCart }}
    <button mat-button color="primary" (click)="incrementTotalGameCopies(game)">
      +
    </button> -->
  </div>
  <mat-divider></mat-divider>
</mat-list>
} @empty {
<div style="width: 15rem">
  <mat-list-item>O carinho está vazio!</mat-list-item>
</div>
}
